:root {
    --color-accent: oklch(45% 50% 155);
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: 24px;
  accent-color: var(--color-accent);
}
.navbar {
    display: flex;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-color: oklch(80% 3% 200);
    border-bottom-style: solid;
    padding: .5em
}
.navbar a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: .5em;
}
a.current {
    border-bottom-width: .4em;
    border-bottom-color: oklch(80% 3% 200);
    border-bottom-style: solid;
    padding-bottom: 5px;
}
a:hover {
    border-bottom-width: .4em;
    border-bottom-color: var(--color-accent);
    border-bottom-style: solid;
    background-color: oklch(from var(--color-accent) 95% 5% h);
    padding-bottom: 5px;
}
.contactform {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.contactlabel {
    display: block;
    margin-block: 3px;
}